__pycache__/
*.pyc
design_*/
*.npz
*.npy
*.3dbv
*.3dbx
*.3dbf
*.bmap
*.log
/D2W_correlation_experiments/
/Repair_Analysis/
yap_env/
D2W/output/*/temp/
W2W/output/*/temp/
output/
*.png
.codex
*.tar.zst
*.zip
*.tar.gz
*.tar
*.7z
*.csv
*.nfs*
HBM*/